您将收到4张安装在车身的鱼眼图像:
- 第一张鱼眼图是安装在车辆**正前方**的相机拍摄的前视图，**图像的左侧为车辆的左前轮处，右侧为车辆的右前轮处**。
- 第二张鱼眼图是安装在车辆**正右方**的相机拍摄的右视图，**图像的左侧为车辆的右前轮处，右侧为车辆的右后轮处**。
- 第三张鱼眼图是安装在车辆**正后方**的相机拍摄的后视图，**图像的左侧为车辆的右后轮处，右侧为车辆的左后轮处**。
- 第四张鱼眼图是安装在车辆**正左方**的相机拍摄的左视图，**图像的左侧为车辆的左后轮处，右侧为车辆的左前轮处**。
